{
  "extends": "@vdtn359/semantic-release-monorepo",
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    [
      "@semantic-release/npm",
      {
        "npmPublish": false
      }
    ],
    [
      "@semantic-release/git",
      {
        "assets": [
          "package.json",
          "package-lock.json",
          "CHANGELOG.md",
          "index.js",
          "lib/**/*.js"
        ],
        "message": "chore(release): ${nextRelease.version} [skip ci]\n\n${nextRelease.notes}"
      }
    ],
    [
      "@semantic-release/exec",
      {
        "publishCmd": "npx mono-install --engine npm --resolve --dry-run && npm publish && git reset --hard"
      }
    ]
  ],
  "repositoryUrl": "git@github.com:vdtn359/vdtn359-os.git"
}
